@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.TituloPagina</h1>
<div class="container">

    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <fieldset>
            <input type="hidden" class="form-control" id="claveactual" name="claveactual"
                   value="@CoriPuno.Utilitario.Functions.Desencriptar(SessionManager.Usuario.Pass_Usuario)">
            <!-- Text input-->
            <div class="form-group">
                <div class="col-md-3"></div>
                <label class="col-md-3 control-label">Password Actual:</label>
                <div class="col-md-3 inputGroupContainer">
                    <div class="input-group">
                        <input type="password" name="passwordactual" id="passwordactual" placeholder="Password Actual" class="form-control">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <label class="col-md-3 control-label">Nuevo Password:</label>
                <div class="col-md-3 inputGroupContainer">
                    <div class="input-group">
                        <input type="password" name="nuevopassword" id="nuevopassword" placeholder="Nuevo Password" class="form-control">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <label class="col-md-3 control-label">Confirmar Nuevo Password:</label>
                <div class="col-md-3 inputGroupContainer">
                    <div class="input-group">
                        <input type="password" name="passwordnuevoconfirmado" id="passwordnuevoconfirmado" placeholder="Confirmar Nuevo Password" class="form-control">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="alert alert-danger text-left" id="Message-Error">
                <strong></strong>
            </div>
            <div class="alert alert-success text-left" id="Message-OK">
                <strong></strong>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-6 text-center">
                    <input type="submit" id="btn-cambio-clave" class="btn btn-primary" value="Cambiar Clave" />
                </div>

            </div>
        </fieldset>
    </form>




</div>
<div id="IdResultado">

</div>
@Scripts.Render("~/bundles/mantenimiento-cambio-clave")
